

# /etc/rsyslog.conf configuration file for rsyslog
#
# For more information install rsyslog-doc and see
# /usr/share/doc/rsyslog-doc/html/configuration/index.html


#################
#### MODULES ####
#################

module(load="imuxsock") # provides support for local system logging
module(load="imklog")   # provides kernel logging support
#module(load="immark")  # provides --MARK-- message capability

# provides UDP syslog reception
#module(load="imudp")
#input(type="imudp" port="514")

# provides TCP syslog reception
#module(load="imtcp")
#input(type="imtcp" port="514")


###########################
#### GLOBAL DIRECTIVES ####
###########################

#
# Use traditional timestamp format.
# To enable high precision timestamps, comment out the following line.
#

#$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

#
# Set the default permissions for all log files.
#
$FileOwner {{ rsyslog_file_owner }}
$FileGroup {{ rsyslog_file_group }}
$FileCreateMode {{ rsyslog_file_create_mode }}
$DirCreateMode {{ rsyslog_dir_create_mode }}
$Umask {{ rsyslog_umask }}


#
# Where to place spool and state files
#
$WorkDirectory {{ rsyslog_work_directory }}

#
# Include all config files in /etc/rsyslog.d/
#
$IncludeConfig {{ rsyslog_include_config }}


###############
#### RULES ####
###############

#
# First some standard log files.  Log by facility.
#
{% if rsyslog_auth_log is defined %}auth,authpriv.*       {{ rsyslog_auth_log }}{% endif %}
{% if rsyslog_syslog_log is defined %}*.*;auth,authpriv.none            -{{ rsyslog_syslog_log }}{% endif %}
{% if rsyslog_cron_log is defined %}cron.*                           {{ rsyslog_cron_log }}{% endif %}
{% if rsyslog_daemon_log is defined %}daemon.*                        -{{ rsyslog_daemon_log }}{% endif %}
{% if rsyslog_kern_log is defined %}kern.*                          -{{ rsyslog_kern_log }}{% endif %}
{% if rsyslog_lpr_log  is defined %}lpr.*                           -{{ rsyslog_lpr_log }}{% endif %}
{% if rsyslog_mail_log is defined %}mail.*                           -{{ rsyslog_mail_log  }}{% endif %}
{% if rsyslog_user_log is defined %}user.*                          -{{ rsyslog_user_log }}{% endif %}

#
# Logging for the mail system.  Split it up so that
# it is easy to write scripts to parse these files.
#
{% if rsyslog_mail_info_log is defined %}mail.info                       -{{ rsyslog_mail_info_log }}{% endif %}
{% if rsyslog_mail_warn_log is defined %}mail.warn                       -{{ rsyslog_mail_warn_log }}{% endif %}
{% if rsyslog_mail_err_log is defined %}mail.info                       -{{ rsyslog_mail_err_log }}{% endif %}

#
# Some "catch-all" log files.
#
{% if rsyslog_debug_log is defined %}
*.=debug;\
        auth,authpriv.none;\
        news.none;mail.none     -{{ rsyslog_debug_log }}
{% endif %}
{% if rsyslog_messages_log is defined %}
*.=info;*.=notice;*.=warn;\
        auth,authpriv.none;\
        cron,daemon.none;\
        mail,news.none          -{{ rsyslog_messages_log }}
{% endif %}

#
# Emergencies are sent to everybody logged in.
#
*.emerg                         :omusrmsg:*
